.TitleBlock {
    display: flex;
    color: #292b29;
    font-weight: 700;
    background: whitesmoke;
}
.TitleBlockCell {
    border: solid;
    border-color: #e2dddd;
    border-width: 1px;
    vertical-align: top;
    padding: 5px;
    width: 33.3%;
    height: 2em;
}

.VerdictStyleRight {
    text-align: right;
    padding-right: 10px;
}
.VerdictStyleLeft {
    text-align: left;
}

.ColumnHeaderBlock{
    display: flex;
}

.ColumnCell {
    border: solid;
    border-color: #e2dddd;
    border-width: 1px;
    height: 2em;
    width: 33.2%;
    padding: 5px;
    background: rgb(185, 183, 183);
    color: black;
    font-weight: 600;
}

.RowBlock{
    display: flex;
}

.RowCell {
    border: solid;
    border-color: #afa8a8;
    border-width: 1px;
    height: 2em;
    width: 33.2%;
    padding: 5px;
    background: rgb(250, 248, 248);
    color: black;
    font-weight: 600;
}

.FooterCell {
    
    border: solid;
    border-color: #e2dddd;
    border-width: 1px;
}

.FooterCell--supp {
    padding: 5px;
    border: solid;
    border-color: #e2dddd;
    border-width: 1px;
    background: grey;
}
.FooterCell--supp--value {
    padding: 5px;
    border: solid;
    border-color: #e2dddd;
    border-width: 1px;
    background: white;
    color: black;
}


.Footer-supp-textare{
    width: 100%;
}

.NextButton--Spacing {
    margin-top: 10em;
}